# --- System & IDE ---
.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]

# --- Environments ---
.env
.venv
env/
venv/

# --- Large Files & Datasets ---
src/DataSets/
manual/

# --- Output Files ---
src/*.mp4
src/Outputs/
src/results/

# --- 구버전 파일 ---
src/app_intensity.py
src/fer_main.py
src/fer_main_Videofiles.py
src/*.txt
fer.yaml