# --- System & IDE ---
.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]

# --- Environments ---
.env
.venv
env/
venv/


# --- Large Files & Datasets ---
# 데이터셋 폴더 제외
src/DataSets/
manual/

# --- Output Files ---
src/*.mp4
src/Outputs/
